* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app-name {
  color: var(--bs-white);
}

.nav-tabs .nav-link.active {
  background-color: var(--bs-gray-400);
}

.nav-item {
  background-color: var(--bs-gray-100);
}

.nav-link {
  color: var(--bs-body-color);
}

.wrapper {
  min-height: 100vh;
  background-color: #3a4764;
}

.arszamolo-box-container {
  max-width: 23.75rem;
}

/***** Sortores br nelkul *****/
.sortores:after {
  content: "\A";
  white-space: pre;
}

/*******************************/
.text-color {
  color: var(--bs-gray-dark);
}

.app-bg {
  background-color: var(--bs-gray-400);
}

.app-part-bg {
  background-color: var(--bs-gray-300);
}

.input-bg {
  background-color: var(--bs-gray-100);
}

.part-result-bg {
  background-color: #f8d678;
}

.result-bg {
  background-color: var(--bs-teal);
}

.button-br-hk,
.button-afa,
.button-haszonKulcs {
  width: calc(100% / 3);
  margin: 0 0.25rem;
}

.tetszoleges-hk {
  margin: 0 0.25rem;
}

.row-height-3 {
  min-height: 3rem;
}

.row-height-4 {
  min-height: 4rem;
}

.row-height-7 {
  min-height: 7rem;
}

.row-height-10 {
  min-height: 10rem;
}

.brutto-input,
.el-ar {
  height: 5rem;
}

.width-90 {
  width: 90%;
}
